*{
    padding: 0;
    margin: 0;
    }
    
    
    html{
height: 100%;
width: 110%;
        
    }
    
    body{
        background-image: linear-gradient(to bottom left , rgb(45, 1, 95), rgb(0, 0, 0));
        


    }
    
   
    
    h1{
        
        color: gray;
        position: relative;
       
    }
    
    a{
        color: rgb(148, 138, 138);
    position: relative;
    top: 45px;
    right: 260px;
    background-color: rgb(56, 53, 53);
    width: 19%;
    
    
    
    }
    
    .logo{
        height: 110px;
        margin-top: 0px;
    
    }

    
    a:hover{
        cursor: pointer;
        opacity: 0.5;
        background-color: rgb(68, 67, 67);
        border: 2px solid gray;
    
    }
    
    .card{
        position: relative;
        height: 450px;

    }

    .cds{
        display: flex;
        position: relative;
        left: 400px;
        top: 70px;
        width: 900PX;
        height: 500px; 
       
    }

    #saul{
        overflow: hidden;


    }

    #saul span:nth-of-type(1){
        position: absolute;
top: 0;
left: 0;
width: 100%;
height: 10px;
background: linear-gradient(to right, transparent , #fff ,rgb(149, 41, 192),rgb(109, 11, 175), rgb(63, 1, 134));
animation: animar1 4s linear infinite;
animation-delay: 2s;
}

@keyframes animar1{
        0%{
            transform: translateX(-100%);

        }

        100%{

            transform: translateX(100%);

        }

}      

#saul span:nth-of-type(2){
    position: absolute;
    top: 0;
    right:0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to bottom, transparent , #fff ,rgb(109, 11, 175), rgb(63, 1, 134));
    animation: animar2 4s linear infinite;
    animation-delay: 2s;
    
}

    @keyframes animar2{
        0%{
            transform: translateY(-100%);

        }

        100%{

            transform: translateX(100%);

        }

    }

#saul span:nth-of-type(3){
        position: absolute;
        bottom: 0;
        right:0;
        width: 100%;
        height: 10px;
        background: linear-gradient(to left, transparent , #fff ,rgb(109, 11, 175), rgb(63, 1, 134)); 
        animation: animar3 4s linear infinite;
        animation-delay: 2s;
    }

        @keyframes animar3{
            0%{
                transform: translateX(100%);
    
            }
    
            100%{
    
                transform: translateX(-100%);
    
            }
        }

        #saul span:nth-of-type(4){
            position: absolute;
            top: 0;
            left:0;
            width: 10px;
            height: 100%;
            background: linear-gradient(to top, transparent , #fff ,rgb(109, 11, 175), rgb(63, 1, 134));         
            animation: animar4 4s linear infinite;
            animation-delay: 2s;
        }

            @keyframes animar4{
                0%{
                    transform: translateY(100%);
        
                }
        
                100%{
        
                    transform: translateX(-100%);
        
                }
        
            }


            #joliano{
                overflow: hidden;
        
        
            }
        
            #joliano span:nth-of-type(1){
                position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        background: linear-gradient(to right, transparent , #fff ,rgb(15, 188, 231));
        animation: animar1 4s linear infinite;
        animation-delay: 2s;
        }
        
        @keyframes animar1{
                0%{
                    transform: translateX(-100%);
        
                }
        
                100%{
        
                    transform: translateX(100%);
        
                }
        
        }      
        
        #joliano span:nth-of-type(2){
            position: absolute;
            top: 0;
            right:0;
            width: 10px;
            height: 100%;
            background: linear-gradient(to bottom, transparent , #fff ,rgb(15, 188, 231));
            animation: animar2 4s linear infinite;
            animation-delay: 2s;
            
        }
        
            @keyframes animar2{
                0%{
                    transform: translateY(-100%);
        
                }
        
                100%{
        
                    transform: translateX(100%);
        
                }
        
            }
        
        #joliano span:nth-of-type(3){
                position: absolute;
                bottom: 0;
                right:0;
                width: 100%;
                height: 10px;
                background: linear-gradient(to left, transparent , #fff ,rgb(15, 188, 231)); 
                animation: animar3 4s linear infinite;
                animation-delay: 2s;
            }
        
                @keyframes animar3{
                    0%{
                        transform: translateX(100%);
            
                    }
            
                    100%{
            
                        transform: translateX(-100%);
            
                    }
                }

                #pedro{
                    overflow: hidden;
                    left: 500px ;


                }
        
                #joliano span:nth-of-type(4){
                    position: absolute;
                    top: 0;
                    left:0;
                    width: 10px;
                    height: 100%;
                    background: linear-gradient(to top, transparent , #fff ,rgb(15, 188, 231));         
                    animation: animar4 4s linear infinite;
                    animation-delay: 2s;
                }
        
                    @keyframes animar4{
                        0%{
                            transform: translateY(100%);
                
                        }
                
                        100%{
                
                            transform: translateX(-100%);
                
                        }
                
                    }


                    #pedro span:nth-of-type(1){
                        position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 10px;
                background: linear-gradient(to right, transparent , #fff ,rgb(66, 68, 68),red);
                animation: animar1 4s linear infinite;
                animation-delay: 2s;
                }
                
                @keyframes animar1{
                        0%{
                            transform: translateX(-100%);
                
                        }
                
                        100%{
                
                            transform: translateX(100%);
                
                        }
                
                }      
                
                #pedro span:nth-of-type(2){
                    position: absolute;
                    top: 0;
                    right:0;
                    width: 10px;
                    height: 100%;
                    background: linear-gradient(to bottom, transparent , #fff ,rgb(66, 68, 68),red);
                    animation: animar2 4s linear infinite;
                    animation-delay: 2s;
                    
                }
                
                    @keyframes animar2{
                        0%{
                            transform: translateY(-100%);
                
                        }
                
                        100%{
                
                            transform: translateX(100%);
                
                        }
                
                    }
                
                #pedro span:nth-of-type(3){
                        position: absolute;
                        bottom: 0;
                        right:0;
                        width: 100%;
                        height: 10px;
                        background: linear-gradient(to left, transparent , #fff ,rgb(66, 68, 68),red); 
                        animation: animar3 4s linear infinite;
                        animation-delay: 2s;
                    }
                
                        @keyframes animar3{
                            0%{
                                transform: translateX(100%);
                    
                            }
                    
                            100%{
                    
                                transform: translateX(-100%);
                    
                            }
                        }
                
                        #pedro span:nth-of-type(4){
                            position: absolute;
                            top: 0;
                            left:0;
                            width: 10px;
                            height: 100%;
                            background: linear-gradient(to top, transparent , #fff ,rgb(66, 68, 68),red);         
                            animation: animar4 4s linear infinite;
                            animation-delay: 2s;
                        }
                
                            @keyframes animar4{
                                0%{
                                    transform: translateY(100%);
                        
                                }
                        
                                100%{
                        
                                    transform: translateX(-100%);
                        
                                }
                        
                            }