*{
    padding: 0;
    
    }
    
    
    html{
        width: 120%;
        height: 150%;
    }
    
    body{
        background-image: linear-gradient(to bottom left , rgb(45, 1, 95), rgb(0, 0, 0));
    
    }
    
   
    
    h1{
        
        color: gray;
        position: relative;
       left: 700px;
    }
    
    a{
        color: rgb(148, 138, 138);
    position: relative;
    top: 45px;
    right: 260px;
    background-color: rgb(56, 53, 53);
    width: 19%;
    
    
    
    }
    
    .logo{
        height: 110px;
        margin-top: 0px;
    
    }

    
    a:hover{
        cursor: pointer;
        opacity: 0.5;
        background-color: rgb(68, 67, 67);
        border: 2px solid gray;
    
    }
    
    .card{
        position: relative;
        height: 400px;

    }

    .cds{
        display: flex;
        position: relative;
        left: 500px;
        top: 70px;
        
    }
