*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    html{
        height: 100%;

    }


body{
    background: radial-gradient(134.5% 134.5% at 50% 39.39%, #0FF 9.9%, #090979 72.92%, #000 100%);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}



.formu{
    width: 1564px;
    height: 900px;
    position: fixed;

    background: radial-gradient(106.94% 111.35% at 20.58% 43.61%, rgba(0, 0, 0, 0.00) 0%, rgba(86, 88, 103, 0.00) 100%);
    background-blend-mode: screen;
    backdrop-filter: blur(5px);

   

}

#logopro{
    width: 800px;
    height: 794px;
    position: absolute;
    top: 50px;
    left: 20px;
    


}

#cad{
    width: 586px;
    height: 101px;
    position: absolute;
    top: 132px;
    left: 978px;

    font-family: Inter;
    font-size: 96px;
    font-weight: 400;
    line-height: 116px;
    letter-spacing: 0em;
    text-align: left;


}


#name{
    width: 500px;
    height: 39px;
    position: absolute;
    top: 293px;
    left: 888px;
    font-size: 24px;
    padding-left: 40px;
    padding-right: 40px;

}

#email{
    width: 500px;
    height: 39px;
    position: absolute;
    top: 391px;
    left: 888px;
    font-size: 24px;
    padding-left: 40px;
    padding-right: 40px;
}

#senha{
    width: 500px;
    height: 39px;
    position: absolute;
    top: 489px;
    left: 888px;
    font-size: 24px; 
    padding-left: 40px;
    padding-right: 40px;
}

#confse{
    width: 500px;
    height: 39px;
    position: absolute;
    top: 587px;
    left: 888px;
    font-size: 24px;
    padding-left: 33px;
    padding-right: 40px;
}

#enviar{
    width: 326px;
    height: 40px;
    position: absolute;
    top: 670px;
    left: 976px;
   
    
     
}


#nome-user{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 300px;
    left: 895px;
    z-index: 1;
    
}

#email-tex{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 398px;
    left: 895px;
    z-index: 1;
    
}

#senhim{ 
    width: 25px;
    height: 25px;
    position: absolute;
    top: 495px;
    left: 895px;
    z-index: 1;
}

#senhacomf{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 593px;
    left: 895px;
    z-index: 1;
}