*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    height: 100%;

}

body{
    
    background: radial-gradient(134.5% 134.5% at 50% 39.39%, #0FF 9.9%, #090979 72.92%, #000 100%);
    background-repeat: no-repeat;
    background-size: cover;
   
}



 
.corp{
    width: 932px;
height: 545px;
position: fixed;
top: 102px;
left: 334px;
border-radius: 30px;


   
    border-radius: 30px;
    background: #262339;
}

#user{
    width: 162px;
    height: 161.18px;
    position:relative;
    top: 25px;
    left: 535px;
}

#email{
    width: 417px;
    height: 39px;
    position: absolute;
    top: 266px;
    left: 408px;
    padding-left: 32px;
    padding-right: 10px;


}




#arroba{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 274px;
    left: 412px;
    

  
} 

#senha{
    width: 417px;
    height: 40px;
    position: absolute;
    top: 337px;
    left: 408px;
    padding-left: 32px;
    padding-right: 37px;

   
}

#cadiado{
    width: 25px;
    height: 30px;
    position: absolute;
    top: 340px;
    left: 412px;


    
}

#olho{
    width: 29px;
    height: 33px;
    position: absolute;
    top: 340px;
    left: 788px;

    
}




#enviar{
    width: 280px;
    height: 45px;
    position: absolute;
    top: 409px;
    left: 496px;
    background: #168AF7;

   
}

#textouse{
    position: absolute;
    width: 111px;
    height: 44px;
    top: 204px;
    left: 565px;
    
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: azure;
    
}

 #esq{
    width: 132px;
    height: 38px;
    position: absolute;
    top: 483px;
    left: 710px;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    
   


 }

#novo{
    width: 173px;
    height: 24px;
    position: absolute;
    top: 489px;
    left: 428px;
    
}

#novo:hover  {
    cursor: pointer;
    background: #1e1b2e;
    background-size: cover;
    background-position: center  ;
    opacity: 0.8;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 4px;
    height: 30px;
}

#esq:hover{
    cursor: pointer;
    background: #1e1b2e;
    background-size: cover;
    background-position: center  ;
    opacity: 0.8;
    border-radius: 10px;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 4px;
    height: 45px;


}


a{
    text-decoration: none;
    color: azure;


}

#projeto{
    width: 493.32px;
    height: 475.93px;
    position: absolute;
    top: 31px;
    left: 10px;
    rotate: -0.26 deg;
}

@media (max-width: 1920px){
    .corp{
        width: 1146px;
        height: 694px;
        position: fixed;
        top: 137px;
        left: 387px;
        border-radius: 30px;
    }


#user{
    width: 232px;
    height: 221px;
    position: absolute;
    top: 20px;
    left: 639px;
}

#email{
    width: 523.99px;
    height: 40px;
    position: absolute;
    top: 337px;
    left: 513px;
    padding-left: 45px;
    padding-right: 30px;
    font-size: 24px;
    
}




#arroba{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 343px;
    left: 520px;
    
    
} 

#senha{
    width: 523.99px;
    height: 40px;
    position: absolute;
    top: 411px;
    left: 513px;
    font-size: 24px;
    font-size: 24px;
    padding-left: 45px;
    padding-right: 40px;
}

#cadiado{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 415px;
    left: 520px;
}

#olho{
    width: 33px;
    height: 28px;
    position: absolute;
    top: 415px;
    left: 993px;


    
}




#enviar{
    width: 351.84px;
    height: 57.3px;
    position: absolute;
    top: 520.82px;
    left: 610.7px;


   
}

#textouse{
    width: 139.48px;
    height: 56.03px;
    position: absolute;
    top: 259.77px;
    left: 696.14px;
    
    
}

 #esq{
    width: 165.87px;
    height: 48.39px;
    position: absolute;
    top: 615.05px;
    left: 892.17px;
 }

#novo{
    width: 217.39px;
    height: 30.56px;
    position: absolute;
    top: 622.69px;
    left: 537.82px;

}

#projeto{
    width: 606.6px;
    height: 606.05px;
    top: 40px;
    left: 6.63px;
    



}

}


