*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    height: 100%;

}

body{
    
    background: radial-gradient(134.5% 134.5% at 50% 39.39%, #0FF 9.9%, #090979 72.92%, #000 100%);
    background-repeat: no-repeat;
    background-size: cover;
   
}



 
.corp{
    width: 932px;
height: 545px;
position: fixed;
top: 102px;
left: 334px;
border-radius: 30px;


   
    border-radius: 30px;
    background: #262339;
}

#user{
    width: 162px;
    height: 161.18px;
    position:relative;
    top: 25px;
    left: 535px;
}

#email{
    width: 417px;
    height: 39px;
    position: absolute;
    top: 266px;
    left: 408px;
    padding-left: 32px;
    padding-right: 10px;


}




#arroba{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 274px;
    left: 412px;
    

  
} 

#senha{
    width: 417px;
    height: 40px;
    position: absolute;
    top: 337px;
    left: 408px;
    padding-left: 32px;
    padding-right: 37px;

   
}

#cadiado{
    width: 25px;
    height: 30px;
    position: absolute;
    top: 340px;
    left: 412px;


    
}

#olho{
    width: 29px;
    height: 33px;
    position: absolute;
    top: 340px;
    left: 788px;

    
}




#enviar{
    width: 280px;
    height: 45px;
    position: absolute;
    top: 409px;
    left: 496px;
    background: #168AF7;

   
}

#textouse{
    position: absolute;
    width: 111px;
    height: 44px;
    top: 204px;
    left: 554px;
    
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    
    
}

 #esq{
    width: 132px;
    height: 38px;
    position: absolute;
    top: 483px;
    left: 710px;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

    
   


 }

#novo{
    width: 173px;
    height: 24px;
    position: absolute;
    top: 489px;
    left: 428px;
    



}






